# Prerequisites
*.d

# Archivos a ignorar
*.deps
*.cnf

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.Linux32
*.Linux64
*.MacOS
*.MacOS.arm

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
