mad_max_2020   	  v1
secgame            ?
seed               ?
nb_players    	   4
nb_rnds       	 300
nb_rows       	  19
nb_uni_cols   	  69
nb_win_cols   	  35
nb_cars_x_player   2
nb_rnds_regen 	  30
nb_miss_bonuses   10
nb_gas_bonuses    10
nb_water_bonuses  54
bonus_miss         5
bonus_gas         30
water_pnts        10
kill_pnts         30
init_gas          60
names             ? ? ? ?

rnd 0

   000000000011111111112222222222333333333344444444445555555555666666666
   012345678901234567890123456789012345678901234567890123456789012345678
00 ..................W...............G..................................
01 .................WWW.............W.W.................................
02 ................WWMWW.............W.............M..............M.....
03 .................WWW......W..........................................
04 ..................W.............M.............................W.G....
05 ..........G...........G..............................................
06 .....................................................................
07 .....................W..........WWWWW.......M........................
08 ................W.................W........................W.........
09 .....................W............G.......................G.W........
10 ................W.................W.........M..............W.........
11 .....................W..........WWWWW................................
12 .....................................................................
13 ..........G..........................................................
14 ..................W.............M.............................W.G....
15 .................WWW......W.......W..................................
16 ................WWMWW............W.W............M..............M.....
17 .................WWW..............G..................................
18 ............G.....W..................................................


cars
cid     row     column  nb_miss gas alive   time
0	00	04	5	 60   y	    0
1	02	03	5	 60   y	    0
2	05	00	5	 60   y	    0
3	07	00	5	 60   y	    0
4	11	00	5	 60   y	    0
5	13	00	5	 60   y	    0
6	16	03	5	 60   y	    0
7	18	04	5	 60   y	    0

missiles
0
mid      cid	row     column

players
pid	score	status
0	0	0
1	0	0
2	0	0
3	0	0


